In [1]:
import pandas as pd
# import sys(...) es para importar el archivo .py de soporte que hemos creado en la carpeta SRC para guardar las funciones -de este modo busca en una carpeta anterior
import sys
sys.path.append("..")
from SRC import sp_limpieza as sp
import numpy as np

In [2]:
df_limpio=pd.read_csv("../Data/datos_limpios.csv")
df_limpio.head(5)

,campaign_id,company,campaign_type,duration,channel_used,conversion_rate,roi,location,language,clicks,...,engagement_score,customer_segment,date,total($),genre,ages,year,month,day_name,quarter
0,1,innovate_industries,NaN,30.0,google_ads,0.0404,6.29,chicago,spanish,NaN,...,66.0,health_&_wellness,2021-01-01,16174.0,men,18-24,2021.0,1.0,friday,1.0
1,2,nexgen_systems,email,60.0,google_ads,0.1212,5.61,new_york,german,116.0,...,7.0,fashionistas,2021-01-02,11566.0,women,35-44,2021.0,1.0,saturday,1.0
2,3,alpha_innovations,influencer,30.0,youtube,0.0707,7.18,los_angeles,french,NaN,...,11.0,outdoor_adventurers,2021-01-03,10200.0,men,25-34,2021.0,1.0,sunday,1.0
3,4,NaN,display,60.0,youtube,0.1111,NaN,miami,mandarin,217.0,...,7.0,health_&_wellness,2021-01-04,12724.0,NaN,all_ages,2021.0,1.0,monday,1.0
4,5,nexgen_systems,email,15.0,youtube,0.0505,66.55,los_angeles,NaN,379379.0,...,33.0,health_&_wellness,2021-01-05,16452.0,men,25-34,2021.0,1.0,tuesday,1.0

In [3]:
numero_nulos=df_limpio.isnull().sum()
numero_nulos

campaign_id             0
company             15181
campaign_type       18380
duration            18606
channel_used        22494
conversion_rate      9444
roi                 36476
location            25372
language            27008
clicks              31179
impressions         21448
engagement_score    23864
customer_segment    13152
date                 6908
total($)             8083
genre               64857
ages                28614
year                 6908
month                6908
day_name             6908
quarter              6908
dtype: int64

In [4]:
porcentaje_nulos = (df_limpio.isnull().sum() / df_limpio.shape[0])*100
porcentaje_nulos

campaign_id          0.000000
company              7.231975
campaign_type        8.755925
duration             8.863588
channel_used        10.715766
conversion_rate      4.498964
roi                 17.376557
location            12.086797
language            12.866160
clicks              14.853155
impressions         10.217469
engagement_score    11.368411
customer_segment     6.265393
date                 3.290856
total($)             3.850606
genre               30.896792
ages                13.631232
year                 3.290856
month                3.290856
day_name             3.290856
quarter              3.290856
dtype: float64