# An√°lisis preliminar del conjunto de datos

In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('../Data/marketing_campaign.csv')
df_raw.head()

,Unnamed: 0,Campaign ID,Company,Campaign Type,Target Audience,Duration,Channel Used,Conversion Rate,Acquisition Cost,ROI,Location,Language,Clicks,Impressions,Engagement Score,Customer Segment,Date,Total($)
0,0,1,Innovate Industries,NaN,Men 18-24,30 days,Google Ads,00.0404,"$16,174.00","6,29",Chicago,Spanish,NaN,19221922.00,66.00,Health & Wellness,2021-01-01,"$16,174.00"
1,1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,00.1212,"$11,566.00","5,61",New York,German,"116,0","7523,0","7,0",Fashionistas,2021-01-02,"$11,566.00"
2,2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,00.0707,"$10,200.00","7,18",Los Angeles,French,NaN,"7698,0",11.00,Outdoor Adventurers,2021-01-03,"$10,200.00"
3,3,4,NaN,Display,All Ages,60 days,YouTube,00.1111,"$12,724.00",NaN,Miami,Mandarin,"217,0",NaN,"7,0",Health & Wellness,2021-01-04,"$12,724.00"
4,4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,00.0505,"$16,452.00",66.55,Los Angeles,NaN,379379.00,"4201,0",33.00,Health & Wellness,2021-01-05,"$16,452.00"

In [3]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        209915 non-null  int64
 1   Campaign ID       209915 non-null  int64
 2   Company           194734 non-null  object
 3   Campaign Type     191535 non-null  object
 4   Target Audience   181301 non-null  object
 5   Duration          191309 non-null  object
 6   Channel Used      187421 non-null  object
 7   Conversion Rate   200471 non-null  object
 8   Acquisition Cost  201832 non-null  object
 9   ROI               173439 non-null  object
 10  Location          184543 non-null  object
 11  Language          182907 non-null  object
 12  Clicks            178736 non-null  object
 13  Impressions       188467 non-null  object
 14  Engagement Score  186051 non-null  object
 15  Customer Segment  196763 non-null  object
 16  Date              203007 non-null  object
 17  Total($)          201832 non-null  object
dtypes: int64(2), object(16)
memory usage: 28.8+ MB

In [4]:
df_raw.tail()

,Unnamed: 0,Campaign ID,Company,Campaign Type,Target Audience,Duration,Channel Used,Conversion Rate,Acquisition Cost,ROI,Location,Language,Clicks,Impressions,Engagement Score,Customer Segment,Date,Total($)
209910,209910,105984,Alpha Innovations,Email,Men 18-24,30 days,YouTube,00.0202,"$9,180.00",44.4747,Chicago,Spanish,NaN,79087908.00,77.00,Outdoor Adventurers,2021-05-14,"$9,180.00"
209911,209911,186903,DataTech Solutions,Social Media,Women 25-34,60 days,Website,"0,07","$6,382.00","5,05",Los Angeles,NaN,834834.00,"1774,0",99.00,Foodies,2021-01-23,"$6,382.00"
209912,209912,28288,TechCorp,Display,Men 18-24,60 days,NaN,00.0303,"$18,155.00","6,34",Miami,Mandarin,314314.00,61466146.00,44.00,Fashionistas,2021-07-02,"$18,155.00"
209913,209913,39333,Innovate Industries,Display,Women 25-34,15 days,Google Ads,00.0505,"$15,166.00",33.4747,Chicago,German,457457.00,NaN,11.00,Health & Wellness,2021-10-05,"$15,166.00"
209914,209914,102813,NexGen Systems,Social Media,Men 25-34,30 days,Instagram,00.0303,"$16,459.00","2,85",Houston,NaN,747747.00,50905090.00,"8,0",Fashionistas,2021-09-05,"$16,459.00"

In [5]:
df_raw.shape

(209915, 18)

In [6]:
df_raw.columns

Index(['Unnamed: 0', 'Campaign ID', 'Company', 'Campaign Type',
       'Target Audience', 'Duration', 'Channel Used', 'Conversion Rate',
       'Acquisition Cost', 'ROI', 'Location', 'Language', 'Clicks',
       'Impressions', 'Engagement Score', 'Customer Segment', 'Date',
       'Total($)'],
      dtype='object')

In [7]:
df_raw.dtypes

Unnamed: 0           int64
Campaign ID          int64
Company             object
Campaign Type       object
Target Audience     object
Duration            object
Channel Used        object
Conversion Rate     object
Acquisition Cost    object
ROI                 object
Location            object
Language            object
Clicks              object
Impressions         object
Engagement Score    object
Customer Segment    object
Date                object
Total($)            object
dtype: object

In [8]:
df_raw.sample()

,Unnamed: 0,Campaign ID,Company,Campaign Type,Target Audience,Duration,Channel Used,Conversion Rate,Acquisition Cost,ROI,Location,Language,Clicks,Impressions,Engagement Score,Customer Segment,Date,Total($)
32982,32982,32983,Innovate Industries,Influencer,Women 35-44,60 days,Facebook,"0,06","$11,139.00",66.0404,Chicago,German,NaN,96969696.00,"4,0",Tech Enthusiasts,2021-05-13,"$11,139.00"

In [9]:
# Es necesario crear una copia del dataframe. Es con esta copia con la que trabajaremos dejando siempre intacta la original
df_eda=df_raw.copy()

In [10]:
# Cambiar el nombre de las columnas a todo minusculas y sustituir espacios en blanco por _
df_eda.columns=df_eda.columns.str.replace(" ", "_").str.lower()
df_eda.columns

Index(['unnamed:_0', 'campaign_id', 'company', 'campaign_type',
       'target_audience', 'duration', 'channel_used', 'conversion_rate',
       'acquisition_cost', 'roi', 'location', 'language', 'clicks',
       'impressions', 'engagement_score', 'customer_segment', 'date',
       'total($)'],
      dtype='object')

In [11]:
df_eda.sample()

,unnamed:_0,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
124014,124014,124015,DataTech Solutions,Influencer,NaN,45 days,Instagram,00.0808,"$17,110.00","6,67",Houston,French,223223.00,"8368,0",11.00,Tech Enthusiasts,2021-10-07,"$17,110.00"

In [12]:
# inplace=True es para que los cambios se implementen de forma efectiva en el df
df_eda.drop(columns='unnamed:_0', inplace=True)
df_eda.head()

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
0,1,Innovate Industries,NaN,Men 18-24,30 days,Google Ads,00.0404,"$16,174.00","6,29",Chicago,Spanish,NaN,19221922.00,66.00,Health & Wellness,2021-01-01,"$16,174.00"
1,2,NexGen Systems,Email,Women 35-44,60 days,Google Ads,00.1212,"$11,566.00","5,61",New York,German,"116,0","7523,0","7,0",Fashionistas,2021-01-02,"$11,566.00"
2,3,Alpha Innovations,Influencer,Men 25-34,30 days,YouTube,00.0707,"$10,200.00","7,18",Los Angeles,French,NaN,"7698,0",11.00,Outdoor Adventurers,2021-01-03,"$10,200.00"
3,4,NaN,Display,All Ages,60 days,YouTube,00.1111,"$12,724.00",NaN,Miami,Mandarin,"217,0",NaN,"7,0",Health & Wellness,2021-01-04,"$12,724.00"
4,5,NexGen Systems,Email,Men 25-34,15 days,YouTube,00.0505,"$16,452.00",66.55,Los Angeles,NaN,379379.00,"4201,0",33.00,Health & Wellness,2021-01-05,"$16,452.00"

In [13]:
df_eda.to_csv("../Data/mktgeda_cleaning.csv",index=False)