In [1]:
import pandas as pd
# import sys(...) es para importar el archivo .py de soporte que hemos creado en la carpeta SRC para guardar las funciones -de este modo busca en una carpeta anterior
import sys
sys.path.append("..")
from SRC import sp_limpieza as sp_limpieza
import numpy as np

In [2]:
df_cleaning=pd.read_csv("../Data/mktgeda_cleaning.csv")

In [3]:
sp_limpieza.eda_preliminar(df_cleaning)

------------------------
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   campaign_id       209915 non-null  int64
 1   company           194734 non-null  object
 2   campaign_type     191535 non-null  object
 3   target_audience   181301 non-null  object
 4   duration          191309 non-null  object
 5   channel_used      187421 non-null  object
 6   conversion_rate   200471 non-null  object
 7   acquisition_cost  201832 non-null  object
 8   roi               173439 non-null  object
 9   location          184543 non-null  object
 10  language          182907 non-null  object
 11  clicks            178736 non-null  object
 12  impressions       188467 non-null  object
 13  engagement_score  186051 non-null  object
 14  customer_segment  196763 non-null  object
 15  date              203007 non-null  object
 16  total($)          201832 non-null  object
dtypes: int64(1), object(16)
memory usage: 27.2+ MB
------------------------
NULOS
------------------------
DUPLICADOS
17
------------------------
FRECUENCIA DE TIPOS DE DATOS POR COLUMNAS
company
TechCorp               39210
Alpha Innovations      39090
DataTech Solutions     38889
NexGen Systems         38879
Innovate Industries    38666
Name: count, dtype: int64
********************
campaign_type
Influencer      38430
Search          38319
Email           38292
Social Media    38280
Display         38214
Name: count, dtype: int64
********************
target_audience
Men 18-24      36633
Women 25-34    36349
All Ages       36243
Men 25-34      36170
Women 35-44    35906
Name: count, dtype: int64
********************
duration
30 days    48123
45 days    47906
60 days    47691
15 days    47589
Name: count, dtype: int64
********************
channel_used
Email         31461
Instagram     31428
Google Ads    31299
YouTube       31297
Website       31149
Facebook      30787
Name: count, dtype: int64
********************
conversion_rate
00.1313    7383
0,11       7315
00.11      7266
0,03       7262
0,1        7235
00.0606    7227
00.0202    7226
0,04       7225
0,02       7200
00.0909    7183
0,06       7183
0,13       7173
00.1212    7169
0,12       7167
00.0404    7158
00.1111    7157
0,09       7157
0,08       7132
00.0808    7126
0,05       7118
00.1414    7089
0,07       7058
00.0505    7038
0,14       7027
00.0707    7003
00.0303    6992
0,15       3619
00.1515    3549
00.0101    3519
0,01       3515
Name: count, dtype: int64
********************
acquisition_cost
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
********************
roi
6,05       189
7,43       186
77.4343    183
44.2222    182
5,95       181
          ...
3,93       105
22.00       76
88.00       74
8,0         72
2,0         62
Name: count, Length: 1202, dtype: int64
********************
location
Miami          37240
Chicago        36972
Los Angeles    36897
New York       36779
Houston        36655
Name: count, dtype: int64
********************
language
Mandarin    36841
Spanish     36747
German      36571
English     36424
French      36324
Name: count, dtype: int64
********************
clicks
483,0        134
319,0        134
297,0        131
646,0        130
140,0        129
            ...
287,0         73
603603.00     73
277277.00     72
553,0         71
894894.00     71
Name: count, Length: 1802, dtype: int64
********************
impressions
8037,0         25
42894289.00    25
67076707.00    25
9798,0         25
24032403.00    25
               ..
91009100.00     1
7088,0          1
6834,0          1
5522,0          1
6325,0          1
Name: count, Length: 18002, dtype: int64
********************
engagement_score
5,0        9453
99.00      9436
22.00      9382
3,0        9381
2,0        9360
4,0        9348
44.00      9314
10,0       9309
9,0        9298
1,0        9291
1010.00    9284
66.00      9282
77.00      9282
88.00      9268
8,0        9256
7,0        9250
55.00      9224
33.00      9221
6,0        9219
11.00      9193
Name: count, dtype: int64
********************
customer_segment
Foodies                39571
Tech Enthusiasts       39518
Outdoor Adventurers    39324
Health & Wellness      39212
Fashionistas           39138
Name: count, dtype: int64
********************
date
2021-09-10    579
2021-09-03    575
2021-08-18    572
2021-05-07    571
2021-04-16    571
             ...
2021-04-11    542
2021-01-05    542
2021-11-23    542
2021-05-01    541
2021-05-31    539
Name: count, Length: 365, dtype: int64
********************
total($)
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
********************

In [4]:
df_cleaning.dtypes

campaign_id          int64
company             object
campaign_type       object
target_audience     object
duration            object
channel_used        object
conversion_rate     object
acquisition_cost    object
roi                 object
location            object
language            object
clicks              object
impressions         object
engagement_score    object
customer_segment    object
date                object
total($)            object
dtype: object

In [5]:
sp_limpieza.valores_minus(df_cleaning)

In [6]:
# Llamar al primer registro (en python empieza por 0) de la columna 'duración'. Output = '30 days'
df_cleaning['duration'][0]
# .split mantiene el valor númerico de la columna duration - '30 [0] days [1]'
df_cleaning['duration'][0].split()[0]

'30'

In [7]:
# .unique para ver los valores únicos de la columna
df_cleaning['duration'].unique()

array(['30 days', '60 days', '15 days', '45 days', nan], dtype=object)

In [8]:
df_cleaning['duration']=df_cleaning['duration'].apply(lambda x: x.split()[0] if isinstance(x,str) else x)

In [9]:
dolar=['acquisition_cost','total($)']
sp_limpieza.dolares(df_cleaning,dolar)

In [10]:
df_cleaning['acquisition_cost'].equals(df_cleaning['total($)'])
df_cleaning.drop('acquisition_cost', axis=1, inplace=True)

In [11]:
coma=['conversion_rate','roi','clicks','impressions','engagement_score']
sp_limpieza.comas(df_cleaning,coma)

In [12]:
df_cleaning[['genre','ages']]=df_cleaning['target_audience'].str.split(' ', expand=True)

In [13]:
df_cleaning['genre']= df_cleaning['genre'].apply(lambda x:np.nan if x == 'all' else x)
df_cleaning['ages']=df_cleaning['ages'].apply(lambda x:'all ages' if x == 'ages' else x)
df_cleaning.drop('target_audience',axis=1,inplace = True)

In [14]:
sp_limpieza.convertir_columnas(df_cleaning,'%Y-%m-%d')

In [15]:
quitar_espacios=sp_limpieza.quitar_espacios(df_cleaning)
quitar_espacios

In [16]:
df_cleaning['year']= df_cleaning['date'].dt.year
df_cleaning['month']= df_cleaning['date'].dt.month
df_cleaning['day_name']= df_cleaning['date'].dt.day_name()
df_cleaning['quarter']= df_cleaning['date'].dt.quarter

In [17]:
sp_limpieza.valores_minus(df_cleaning)

In [18]:
df_cleaning.to_csv('../Data/mktgeda_datos_limpios.csv', index=False)